[submodule "storefront"]
	path = storefront
	url = https://github.com/tqm-dev/saleor-storefront
[submodule "saleor/storefront"]
	path = saleor/storefront
	url = https://github.com/tqm-dev/saleor-storefront
[submodule "dashboard"]
	path = dashboard
	url = https://github.com/tqm-dev/saleor-dashboard
